# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Credentials
.credentials/

# Environment files
.env

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Temporary and data files
data/
tmp/
